body {
  margin: 0;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/*👉**************NAVBAR**************👈*/
.header {
  width: 550px;
  height: 55px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  font-size: 15px;
  color: white;
  display: flex;
  height: 55px;
  align-items: center;
  justify-content: space-between;
  margin: 100px;
}
.trollAndMeme {
  display: flex;
  align-items: center;
  gap: 5px;
}
.trollFaceImg {
  width: 31.31px;
height: 26.22px;
margin-left: 40px;
}
.header>h3 {
  font-weight: 700;
  font-size: 20px;

}
.header>h5 {
  font-weight: 500;
  font-size: 12px;
  margin-right: 40px;

}
